<div class="user-details">
  <h1> Experience</h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Interim CTO - LAP </h3>
    <ul>
      <li>Development of new products and mathematical modeler</li>
    </ul>
    <p>The LAP is a company of innovation and technology whose main objective is to scale the impalpable and the empirical, in order to provide a standardized and scientific analysis. With this, we can bring to our customers more accurate data that can provide more practicality and simplicity in agricultural management.</p>
    <a class="project-link" href="http://reprodez.com.br/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - MedStats</h3>
    <ul>
      <li>Mathematical modeler</li>
    </ul>
    <p> The Medstats is a company of development of mathematical modeling focused on the analysis of pulmonary pathologies among others</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> CEO an Founder - Kazuruf </h3>
    <ul>
      <li>Development of new products</li>
    </ul>
      <p>Company focused on the development of technological solutions with daily applications. Kazuruf is a pioneer in the part of enterprise data analysis for application in marketing, treatment of legacy systems modernization.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - Hisston</h3>
    <ul>
      <li>Development of new products</li>
    </ul>
    <p> Houston is a platform that connects companies with university advisors from the most prestigious education institutions in Latin America to on-demand services.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Interim CTO - LifenRoll </h3>
    <ul>
      <li>Development of new products and lead Developer</li>
    </ul>
    <p>LifeNRoll is an online platform for the exchange of real experiences through life shadowing methodology , where ordinary people around the world can live different lifestyles , whether professional , recreational , spiritual , tourism, etc....</p>
    <a class="project-link" href="http://reprodez.com.br/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - Morpheus Comp. Laboratory</h3>
    <ul>
      <li>Mathematical modeler</li>
    </ul>
    <p> Company in the area of software development, for the use in research developments in the field of mathematical modeling. With the principle of free software distribution, believing that the future of software for education this back to the Open source technologies.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Interim CTO - LAP </h3>
    <ul>
      <li>Development of new products and mathematical modeler</li>
    </ul>
    <p>The LAP is a company of innovation and technology whose main objective is to scale the impalpable and the empirical, in order to provide a standardized and scientific analysis. With this, we can bring to our customers more accurate data that can provide more practicality and simplicity in agricultural management.</p>
    <a class="project-link" href="http://reprodez.com.br/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - MedStats</h3>
    <ul>
      <li>Mathematical modeler</li>
    </ul>
    <p> The Medstats is a company of development of mathematical modeling focused on the analysis of pulmonary pathologies among others</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

