<div class="user-details">
  <h1> Experience</h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Interim CTO - LAP </h3>
    <ul>
      <li>Development of new products and mathematical modeler</li>
    </ul>
    <p>The LAP is a company of innovation and technology whose main objective is to scale the impalpable and the empirical, in order to provide a standardized and scientific analysis. With this, we can bring to our customers more accurate data that can provide more practicality and simplicity in agricultural management.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - MedStats</h3>
    <ul>
      <li>Mathematical modeler</li>
    </ul>
    <p> The Medstats is a company of development of mathematical modeling focused on the analysis of pulmonary pathologies among others</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> CEO an Founder - Kazuruf </h3>
    <ul>
      <li>Development of new products</li>
    </ul>
      <p>Company focused on the development of technological solutions with daily applications. Kazuruf is a pioneer in the part of enterprise data analysis for application in marketing, treatment of legacy systems modernization.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - Hisston</h3>
    <ul>
      <li>Development of new products</li>
    </ul>
    <p> Houston is a platform that connects companies with university advisors from the most prestigious education institutions in Latin America to on-demand services.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Interim CTO - LifenRoll </h3>
    <ul>
      <li>Development of new products and lead Developer</li>
    </ul>
    <p>LifeNRoll is an online platform for the exchange of real experiences through life shadowing methodology , where ordinary people around the world can live different lifestyles , whether professional , recreational , spiritual , tourism, etc....</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - Morpheus Comp. Laboratory</h3>
    <ul>
      <li>Mathematical modeler</li>
    </ul>
    <p> Company in the area of software development, for the use in research developments in the field of mathematical modeling. With the principle of free software distribution, believing that the future of software for education this back to the Open source technologies.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Full Stack Developer - MBA GEITec </h3>
    <ul>
      <li>Development of new products</li>
    </ul>
      <p>In a world full of transformative forces - such as technology, culture, economics, demography, environment, politics - that make business dynamics increasingly uncertain and competitive, there is no other way out (a source of sustainable competitive advantage) ability to innovate. This is what we call Strategic Management of Technological Innovation.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Interim CTO - Mind Consulting</h3>
    <ul>
      <li>Development of new products</li>
    </ul>
    <p> We have a team dedicated to develop technology for your safety, commodity and well-being. Based on real experiences, our mission is to create ways to make your life easier. Every technology that we work on focus on user experience, which means, we have a serious value to accomplish: make our users satisfied</p>
  </div>
</div>
<div class="user-projects">
    <div class="contents-right">
        <h3> Interim CTO - CrawlerDev</h3>
        <ul>
            <li>Development of new products and Developer Full Stack</li>
        </ul>
        <p>Company consists of actions to increase the accessibility of development with the client "idealizer", often several people have ideas that really have an active principle both economically and socially, but do not have the capital to pay developers for this, then the active role of CrawlerDev is taking on this niche of demand through the concept created by us angel developer.</p>
    </div>
</div>
<div class="user-projects">
    <div class="contents-right">
        <h3> Full Stack Developer- Emerald</h3>
        <ul>
            <li>Development of new products and Developer Full Stack</li>
        </ul>
        <p>Emerald Framework is a web development environment dedicated to make web developers' lives easier and fun.</p>
    </div>
</div>
